.main__content {
	background: url('../img/blackfon.jpg');
	min-width: 960px;
	overflow-y: hidden;
	min-height: 100%;
}

.central-wrapper {
	width: 900px;
	margin: 0 auto;
}

.menu { 
	width: 100%;
	margin: 0 auto;
	height: 4.5rem;
}

.home-button__beckg {
	float:left;
	width: 2rem;
	height: 2rem;
}

.menu__item {
	background: #DB7093 ;
	border-radius: 0.95rem;
	border: 1px solid #C71585;
	float: left;
	width: 20%;
	padding: 1.15rem;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	list-style: none; /*убрать точки пункты списка*/
}

.tooltip {
	position: absolute;
	left:0px;
	bottom: -80px;
	display: none;
	background: #271347;
	border: 1px solid black;
	font-family: CORBEL;
	border-radius: 0.95rem;
	width: 100%;
}


.content__title:hover .tooltip {
	display: inline;
}
.content {
	background: url('../img/murder.jpg') no-repeat;
	width: 800px;
	height: 690px; 
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.content__item_type_blood {
	position: absolute;
	width: 180px;
	height: 180px;
	top: 40px;
    right: 80px;
	display: inline;
}

.content__item_type_blood:hover {
	background: url('../img/ul11.png') no-repeat;
 }

.tooltip {
	left:0px;
	bottom: 430px;
	width: 150px;
	display:none;
}

.content__item_type_blood:hover .tooltip{
	display: block;
	background: #271347;
	border: 1px solid black;
	font-family: CORBEL;
	border-radius: 16px;
	font-size: 20px;
	left: 100px;
	margin-top: 200px;
}

.content__item_type_weapon{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 332px;
    left: 331px;
	display: inline;
}

.content__item_type_weapon:hover{
	background: url('../img/ul21.png') no-repeat;
 }
 
.content__item_type_paper{
	position: absolute;
	width: 150px;
	height: 120px;
	top: 213px;
    left: 120px;
	display: inline;
}
.content__item_type_paper:hover{
	background: url('../img/ul31.png') no-repeat;
 }

.content__item_type_power-socket{
	position: absolute;
	width: 80px;
	height: 70px;
	top: 296px;
    left: 288px;
	display: inline;
} 

.content__item_type_power-socket:hover{
	background: url('../img/ul41.png') no-repeat;
 }

.content__item_type_sneakers{
	position: absolute;
	width: 150px;
	height: 60px;
	bottom: 21px;
    left: 366px;
	display: inline;
}

.content__item_type_sneakers:hover{
	background: url('../img/ul51.png') no-repeat;
 }
 
 .content__img_overgame {
	width: 400px;
	height: 200px;
	float: left;
 }

.menu__link {
	color: pink;
	font-family: ALGERIAN;
	text-decoration: none;
	width: 100%;
	height: 100%;
	padding: 25;
	margin: 0 auto;
}

.menu__item_game {
	width: 50%;
	padding: 1.15rem;
	margin-left: 21%;
}

.popup {
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top:0px;
	display: none;
}

.popup_suicide {
	display: none;
}

.popup_kill {
	display: none:
}

.popup__wraper {
    margin: 40px auto 0px auto;
    width: 900px;
    height: 500px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
	position: relative;
}

.popup__item {
	width: 400px;
	height: 450px;
	margin: 20px;
	float: left;
}

.popup__img {
	width: 860px;
    height: 400px;
}

.popup__img_kill {
	background: url('../img/sherlok.jpg') no-repeat;
	background-size: contain;
	background-position: center;
 }
 
.popup__img_suicide {
	background: url('../img/over.png') no-repeat;
	background-size: contain;
	background-position: center;
}

.label__checkbox{  
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	color: pink;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;  
	margin-right: 30px;
	float:left;
}

.label__checkbox:last-child{
	margin-bottom: 50px;
}
.label__checkbox input[type="radio"],
.label__checkbox input[type="checkbox"]{
	display: block;
	position: absolute;
	margin: 0;
	opacity: 0;
}
.radio_img{ 
	position: absolute; 
	width: 22px;
	height: 22px;
	top: 0px;
	left: 0px;
	background: white;
	border: 2px solid #C71585;
	border-radius: 50%;
}
.radio_img:after{
	content: "";
	background: #C71585;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 24%;
	left: 25%;
	border-radius: 50%;
	display: block;
	opacity: 0;
}
.label__checkbox input[type="radio"]:checked + .radio_img:after{
	opacity: 100;
}
.checkbox_img{ 
	position: absolute; 
	width: 22px;
	height: 22px;
	top: 0px;
	left: 0px;
	background: white;
	border: 2px solid #c1c1c1;
	border-radius: 25%;
}
.checkbox_img:after{
	content: "";
	background-image: url('../img/check.png');
	width: 23px;
	height: 19px;
	position: absolute;
	top: -11%;
	left: 10%;  
	display: block;
	opacity: 0;
}
.label__checkbox input[type="checkbox"]:checked + .checkbox_img:after{
	opacity: 100;
}

.wraper-checkbox{
	border-radius: 16px;
	text-align: center;
	margin: 0 auto;
	width: 500px;
	height: 50px
}

.b-button {
	background: white;
	border-radius: 5px;
	display: inline-block;
	padding: 5px 10px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 10px;
	font-family: Underdog;
	font-size: 20px;
}

.b-button:active {
	color: #C71585;
	background-color: gray;
}


.b-button_close {
	display: block;
	width: 20px;
	height: 20px;
	background: #c5c5c5;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	border-radius: 25%;
	position:absolute;
	top: -25px;
	right: -25px;
}

.l-title{
	border-radius: 0.95rem;
	border: 1px solid #C71585;
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	color: pink;
	font-family: Underdog;
	margin-top: 10px;
	margin-bottom: 10px;
}

.l-text {
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	width: 860px;
	color: #C71585;
	margin: 10px;
}
.l-text_kill {
	font-family: Marck Script;
}

.l-text_suicid {
	font-family: Kelly Slab;
}

.l-clear {
	clear: both; /*добавить из картинки */
}



___________________________________
text-align= "center";              |
float: center;                     |
display: block;                    |
padding-right: 100px;              |
background = url('../Page/Fon.jpg')|
font-family: CURSIVE, ALGERIAN;    | 
border: 3px solid #e34334;         |
margin:auto;!!!!                   |
___________________________________|