.main__content {
	background: url('/img/fon.jpg');
}

.central-wrapper {
	width: 900px;
	margin: 0 auto;
	height: 100%;
}

.menu { 
	width: 100%;
	margin: 0 auto;
	height: 4.5rem;
}

.home-button__beckg {
	float:left;
	width: 2rem;
	height: 2rem;
}

.menu__item {
	background: #DB7093 ;
	border-radius: 0.95rem;
	border: 1px solid #C71585;
	float: left;
	width: 20%;
	padding: 1.15rem;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	list-style: none; /*убрать точки пункты списка*/
}
.l-title{
	border-radius: 0.95rem;
	border: 1px solid #C71585;
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	color: pink;
	font-family: CORBEL;
}

.tooltip {
	position: absolute;
	left:0px;
	bottom: -80px;
	display: none;
	background: #271347;
	border: 1px solid black;
	font-family: CORBEL;
	border-radius: 0.95rem;
	width: 100%;
}


.content__title:hover .tooltip {
	display: inline;
}
.content {
	background: url('../img/murder.jpg') no-repeat;
	width: 800px;
	height: 690px; 
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.content__item_type_blood {
	position: absolute;
	width: 180px;
	height: 180px;
	top: 40px;
    right: 80px;
	display: inline;
}

.content__item_type_blood:hover {
	background: url('../img/ul11.png') no-repeat;
 }

.tooltip {
	left:0px;
	bottom: 430px;
	width: 150px;
	display:none;
}

.content__item_type_blood:hover .tooltip{
	display: block;
	background: #271347;
	border: 1px solid black;
	font-family: CORBEL;
	border-radius: 16px;
	font-size: 20px;
	left: 100px;
	margin-top: 200px;
}

.content__item_type_weapon{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 332px;
    left: 331px;
	display: inline;
}

.content__item_type_weapon:hover{
	background: url('../img/ul21.png') no-repeat;
 }
 
.content__item_type_paper{
	position: absolute;
	width: 150px;
	height: 120px;
	top: 213px;
    left: 120px;
	display: inline;
}
.content__item_type_paper:hover{
	background: url('../img/ul31.png') no-repeat;
 }

.content__item_type_power-socket{
	position: absolute;
	width: 80px;
	height: 70px;
	top: 296px;
    left: 288px;
	display: inline;
} 

.content__item_type_power-socket:hover{
	background: url('../img/ul41.png') no-repeat;
 }

.content__item_type_sneakers{
	position: absolute;
	width: 150px;
	height: 60px;
	bottom: 21px;
    left: 366px;
	display: inline;
}

.content__item_type_sneakers:hover{
	background: url('../img/ul51.png') no-repeat;
 }
 
 .content__img_overgame {
	width: 400px;
	height: 200px;
	float: left;
 }

.menu__link {
	color: pink;
	font-family: ALGERIAN;
	text-decoration: none;
	width: 100%;
	height: 100%;
	padding: 25;
	margin: 0 auto;
}

.menu__item_game {
	width: 50%;
	padding: 1.15rem;
	margin-left: 21%;
}

.popup {
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top:0px;
	display: none;
}

.popup__wraper {
    margin: 40px auto 0px auto;
    width: 900px;
    height: 500px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.popup__item {
	width: 400px;
	height: 450px;
	margin: 20px;
	float: left;
}

.popup__img_kill {
	width: 400px;
	height: 230px;
	background: url('../img/kill.jpg');
	background-size: cover;
 }
 
.popup__img_suicide {
	width: 400px;
	height: 230px;
	background: url('../img/suicide.jpg');
	background-size: cover;
}

.text {
	text-align: center;
}

.l-clear {
	clear: both; /*добавить из картинки */
}



___________________________________
text-align= "center";              |
float: center;                     |
display: block;                    |
padding-right: 100px;              |
background = url('../Page/Fon.jpg')|
font-family: CURSIVE, ALGERIAN;    | 
border: 3px solid #e34334;         |
margin:auto;!!!!                   |
___________________________________|