body {
	margin: 0;
}

.background {
	background: url('../img/fon.jpg') no-repeat;
}

.central-wrapper {
	width: 900px;
	margin: 0 auto;
	height: 100%;
}

.menu { 
	width: 100%;
	margin: 0 auto;
	height: 4.5rem;
}

.home__beckground {
	float:left;
	width: 2rem;
	height: 2rem;
}

.menu__item {
	background: #DB7093 ;
	border-radius: 0.95rem;
	border: 1px solid #C71585;
	float: left;
	width: 20%;
	padding: 1.15rem;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	list-style: none; /*убрать точки пункты списка*/
}
.content__title{
	border-radius: 0.95rem;
	border: 1px solid #C71585;
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	color: pink;
	font-family: CORBEL;
}

.tooltip {
	position: absolute;
	left:0px;
	bottom: -80px;
	display: none;
	background: #271347;
	border: 1px solid black;
	font-family: CORBEL;
	border-radius: 0.95rem;
	width: 100%;
}


.content__title:hover .tooltip{
	display: inline;
}
.content__img{
	background: url('../img/murder.jpg') no-repeat;
	width:650px;
	height: 650px; /* изменить*/
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.content__img_ul{
	position: absolute;
	width: 180px;
	height: 180px;
	top: 16px;
    right: 35px;
	display: inline;
}
.content__img_ul:hover{
	background: url('../img/ul11.png') no-repeat;
 }

.tooltip_ul {
	left:0px;
	bottom: 430px;
	width: 150px;
	display:none;
}

.content__img_ul:hover .tooltip_ul{
	display: block;
	background: #271347;
	border: 1px solid black;
	font-family: CORBEL;
	border-radius: 16px;
	font-size: 20px;
	left: 100px;
	margin-top: 200px;
}

.content__img_ul1{
	position: absolute;
	width: 100px;
	height: 100px;
	bottom: 185px;
    left: 254px;
	display: inline;
}

.content__img_ul1:hover{
	background: url('../img/ul21.png') no-repeat;
 }
 
.content__img_ul2{
	position: absolute;
	width: 150px;
	height: 120px;
	top: 159px;
    left: 97px;
	display: inline;
}
.content__img_ul2:hover{
	background: url('../img/ul31.png') no-repeat;
 }

.content__img_ul3{
	position: absolute;
	width: 80px;
	height: 70px;
	bottom: 240px;
    left: 220px;
	display: inline;
} 

.content__img_ul3:hover{
	background: url('../img/ul41.png') no-repeat;
 }

.content__img_ul4{
	position: absolute;
	width: 150px;
	height: 60px;
	bottom: 1px;
    left: 279px;
	display: inline;
}

.content__img_ul4:hover{
	background: url('../img/ul51.png') no-repeat;
 }
 
 .content__img_overgame {
	width: 400px;
	height: 200px;
	float: left;
 }

.menu__link {
	color: pink;
	font-family: ALGERIAN;
	text-decoration: none;
	width: 100%;
	height: 100%;
	padding: 25;
	margin: 0 auto;
}

.menu__item_game {
	width: 50%;
	padding: 1.15rem;
	margin-left: 21%;
}

.popup {
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top:0px;
}

.popup__content {
    margin: 40px auto 0px auto;
    width: 900px;
    height: 500px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

 .popup__img {
	width: 400px;
	height: 200px;
	float: left;
	margin: 20px;
 }

.l-clear {
	clear: both; /*добавить из картинки */
}



___________________________________
text-align= "center";                   |
float: center;                     |
display: inline-block;             |
padding-right: 100px;              |
background = F:/Универ/Page/Fon.jpg|
font-family: CURSIVE, ALGERIAN; 
border: 3px solid #e34334;   |
margin:auto;!!!!          
___________________________________|